h1 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 2px 1px;
    color: black;
}
.input{
    border-radius: 5px;
    height: 30px;
}
label{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px; 
    margin: 8px;
    font-style: oblique;
    font-weight: inherit;
    color: black;
}
.div1{
    text-align: center;
    padding-top : 20px;
}
.label1{
    position: absolute;
    top: 160px;
    padding-top : 2px;
}
.div2{
    text-align: center;
    padding-top : 21px;
    
}
.label2{
    position: absolute;
    top: 218px;
    margin-top : 10px;
}
.div3{
    text-align: left;
    padding-top : 20px;
    margin-left: 67px; 
}
.label3{
    position: absolute;
    top: 245px; 
    margin-top: 40px; 
}
.input3{
    margin-top: 8px;
    border-radius: 5px;
     
}
.div4{
    text-align: center;
    padding-top: 40px; 
}
.label4{
    font-size: 16px;  
    position: absolute;
    top: 300px;
    margin-top: 58px; 
    padding-top: 3px;
    
}
.background{
    box-sizing: content-box;  
    width: 50%;
    height: 470px;
    border: 2px solid black;
    border-radius: 10px;
    float: right;
    margin-top: 80px;
    margin-right: 25%;
}
.div5{
    text-align: center;
    padding-top: 10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
.input4{
    border-radius: 5px;
    height: 40px;
    width: 267.50px;
    font-family:Verdana, Arial, Helvetica, sans-serif;

}
.p1{
    padding-left: 180px;
    padding-top: 10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
.a{
    float:right;
    margin-right: 210px;
    margin-top: 11px;  
}
h2{
    color: black;
    text-align: right;
    font-family: cursive;
    padding-right: 55px;
    margin-top: 0px;
}
.p2{
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    color: grey;
    padding-right: 150px;
    margin-top: 0px;
}
.background3{
    background-image: url(koi-carp-blue-background-siuvamlham.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a,p{
    color: black;
}
.label5{
    position: absolute;
    top: 276px; 
}
.div6{
    position: absolute;
    top: 303px;
    margin-left: 340px;
}
select{
    width: 128px;
    border-radius: 5px;
}   


